targets:
  - 8.8.8.8
  - 8.8.4.4
  - 1.1.1.1
  - 1.0.0.1
  - google.com
  - {{ item.value }}.1

dns:
  refresh: 2m15s
  nameserver: 8.8.4.4

ping:
  interval: 2s
  timeout: 3s
  history-size: 42
  payload-size: 120
